body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cookie-banner {
  flex: 1;
  background-color: lightgray;
  text-align: center;
  align-items: flex-end;
  height: 150px;
  width: 100%;
  z-index: 9999;
  bottom: 0;
  position: fixed;
}
